<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Workouts</title>
  </head>
  <body>
    <h1>Workouts</h1>
    <% @workouts.each do |workout| %>
      <ul>
        <li><%= link_to workout.title, workout %></li>
        <li><%= workout.description %></li>
      </ul>
    <% end %>
  </body>
</html>
