<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lifts</title>
  </head>
  <body>
    <h1>Lifts</h1>
    <% @workouts.each do |workout| %>
        <h3><%= link_to workout.title, workout %></h3>
    <% end %>
    <%= link_to "Add a new lift",  new_workout_url %>
  </body>
</html>
